<body>
    <div class="container">
        <div class="form-image">
            <img src="../../../assets/images/kablam-welcome.svg" >
        </div>
        <div class="form">
            <form action="#">
                <div class="form-header">
                    <div class="title">
                        <h1>Login</h1>
                    </div>
                    <div class="login-button"
                    routerLink="/formRegister">
                        <button>
                            <a>Register</a>
                        </button>
                    </div>
                </div>

                <div class="input-group">

                    <div class="input-box">
                        <label for="email">Email</label>
                        <input id="email" type="email" name="email" placeholder="Your email" required>
                    </div>

                    <div class="input-box">
                        <label for="password">Password</label>
                        <input id="password" type="password" name="password" placeholder="Password" required>
                    </div>
                </div>

                <div class="continue-button">
                    <button><a href="#">Continue</a></button>
                </div>
            </form>
        </div>
    </div>    
</body>