<section class="login-section">
    <form class="form-area" action="">
        <label for="pensamento">Username </label>
        <input type="textarea" class="input" id="pensamento" name="pensamento" placeholder="Username">
        <label for="autoria">Password </label>
        <input type="textarea" class="input" id="autoria" name="autoria" placeholder="Password">
        <div class="acoes">
            <button class="botao">Salvar</button>
            <button class="botao">Cancelar</button>
        </div>
    </form>
</section>