<section class="criar-pensamentos ff-inter">
    <form action="">
        <label for="pensamento">Username </label>
        <input type="textarea" class="input" id="pensamento" name="pensamento" placeholder="Digite o pensamento">
        <label for="autoria">Password </label>
        <input type="textarea" class="input" id="autoria" name="autoria" placeholder="Digite a autoria ou fonte">
        <div class="acoes">
            <button class="botao">Salvar</button>
            <button class="botao">Cancelar</button>
        </div>
    </form>
</section>